@model List<GetProductStoragerQueryResult>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <h2>Depocu Paneli</h2>
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Depo</th>
            
            <th>Detaylar</th>
            <th>Sil</th>
            <th>Güncelle</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.Name</td>
                <td>@item.Storage</td>
         
                <td><a href="" class="btn btn-outline-dark">Detaylar</a></td>
                <td><a href="" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="" class="btn btn-outline-success">Güncelle</a></td>
          

            </tr>

        }

    </table>
    <a href="" class="btn btn-outline-primary">Yeni Kayıt Girişi</a>

</div>


